// Quasar Stylus Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Stylus variables found in Quasar's source Stylus files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.styl files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

// src/css/quasar.variables.sass

$primary   = #1B1464
$secondary = #6c5ce7
$accent    = #fd79a8

$dark      = #2d3436

$positive  = #00b894
$negative  = #d63031
$info      = #81ecec
$warning   = #fdcb6e
